@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.eot');
    src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto.woff') format('woff'),
    url('../fonts/Roboto/Roboto.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto Bold/Roboto Bold.eot');
    src: url('../fonts/Roboto Bold/Roboto Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto Bold/Roboto Bold.woff2') format('woff2'),
    url('../fonts/Roboto Bold/Roboto Bold.woff') format('woff'),
    url('../fonts/Roboto Bold/Roboto Bold.ttf') format('truetype'),
    url('../fonts/Roboto Bold/Roboto Bold.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto Light/Roboto Light.eot');
    src: url('../fonts/Roboto Light/Roboto Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto Light/Roboto Light.woff2') format('woff2'),
    url('../fonts/Roboto Light/Roboto Light.woff') format('woff'),
    url('../fonts/Roboto Light/Roboto Light.ttf') format('truetype'),
    url('../fonts/Roboto Light/Roboto Light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto Medium/Roboto Medium.eot');
    src: url('../fonts/Roboto Medium/Roboto Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto Medium/Roboto Medium.woff2') format('woff2'),
    url('../fonts/Roboto Medium/Roboto Medium.woff') format('woff'),
    url('../fonts/Roboto Medium/Roboto Medium.ttf') format('truetype'),
    url('../fonts/Roboto Medium/Roboto Medium.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto Italic/Roboto Italic.eot');
    src: url('../fonts/Roboto Italic/Roboto Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto Italic/Roboto Italic.woff2') format('woff2'),
    url('../fonts/Roboto Italic/Roboto Italic.woff') format('woff'),
    url('../fonts/Roboto Italic/Roboto Italic.ttf') format('truetype'),
    url('../fonts/Roboto Italic/Roboto Italic.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Roboto Light Italic';
    src: url('../fonts/Roboto Light Italic/Roboto Light Italic.eot');
    src: url('../fonts/Roboto Light Italic/Roboto Light Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto Light Italic/Roboto Light Italic.woff2') format('woff2'),
    url('../fonts/Roboto Light Italic/Roboto Light Italic.woff') format('woff'),
    url('../fonts/Roboto Light Italic/Roboto Light Italic.ttf') format('truetype'),
    url('../fonts/Roboto Light Italic/Roboto Light Italic.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/