/* Tablet */
@media (max-width: 1170px) {
    header .container {
        padding: 46px 90px 46px 20px;
    }
}

@media (max-width: 991px) {

    .container-main .main-banner,
    .container-loading .main-banner,
    .container-photo .main-banner,
    .container-history .main-banner,
    .history-order .main-banner,
    .container-contacts .main-banner,
    .container-blog .main-banner,
    .container-blog-detail .main-banner,
    .basket-history .main-banner,
    .container-basket .main-banner,
    .container-activity .main-banner,
    .container-form .content-banner,
    .head-search.head-search-photo .head-search-row-title,
    .btn-save-plus,
    .history-order-plus,
    .blog-banner-list,
    .block-lib,
    header .banner {
        display: none;
    }

    body {
        padding-bottom: calc(26vw + 182px);
        min-height: 100vh;
    }

    header .container {
        justify-content: space-between;
        padding: 46px 20px;
    }
    .nav-menu {padding: 0;}
    .hamburger-open {
        padding: 0 0 0 20px;
        position: relative;
        right: 0;
    }

    .hamburger-close {
        position: absolute;
        top: 0;
        bottom: auto;
        padding: 25px 20px;
    }

    .hamburger-link {
        height: auto;
    }

    .header-menu {
        flex: 0 0 auto;
        display: flex;
        width: auto;
    }

    .blog-info-bl,
    .container-form {
        padding: 0;
    }

    .container-form .content {
        display: flex;
        flex-flow: column nowrap;
    }

    .container-form .content-banner {
        order: 2;
        border-radius: 0;
        margin: 0 -20px;
    }

    .form-item-search {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .form-search {
        padding-bottom: 90px;
    }

    .menu-list {
        display: none;
        left: 0;
        padding: 5px 0 0;
        width: auto;
        transform: translateX(0%);
        -webkit-transition: transform 0s ease-in-out;
        -moz-transition: transform 0s ease-in-out;
        -ms-transition: transform 0s ease-in-out;
        transition: transform 0s ease-in-out;
    }

    body.open-menu .menu-list {
        transform: translateY(0%);
        display: block;
    }

    .language {padding-left: 20px; margin-bottom: 17px;}

    .menu-list li {
        padding: 0 21px 12px;
        margin-bottom: 10px;
        position: relative;
    }

    .menu-list li::before {
        left: 20px;
        right: 20px;
        bottom: -1px;
    }

    .blog-info {
        flex: 0 0 100%;
    }

    .nav-menu-item {padding: 0 10px;}
    .head-blog-search .container {display: block;}
    
    .head-blog-search .head-title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .blog-search form {
        display: block;
    }

    .blog-search input[type='search'].styler {
        border-color: #828282;
        min-width: 100%;
    }

    .blog-search .form-item {margin-bottom: 20px;}
    .blog-search .form-result-btn {padding: 0; text-align: center;}

    .blog-search a.styler.primary-button {
        font-size: 14px;
        line-height: 16px;
        height: 34px;
        padding: 6px 20px;
        width: 157px;
    }

    .mb-no-search {display: none;}
    .blog-detail {padding: 0 0 30px;}

    .head-search-photo {
        display: flex;
    }

    .head-search-photo .head-search-row {
        width: 100%;
        display: block;
    }

    .search-photo-label {
        display: block;
    }
    .head-search-photo .head-search-col {
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .head-search-photo .head-search-num,
    .head-search-photo .head-search-selfie {
        display: flex;
        padding: 0 0 20px;
        justify-content: space-between;
        align-items: center;
    }

    .head-search-num .search-photo-label,
    .head-search-selfie .search-photo-label {
        flex: 0 0 50%;
        text-align: left;
        padding-right: 40px;
    }

    .head-search-num .text-input {
        flex: 0 0 50%;
    }

    .head-search-num .text-input {
        text-align: right;
    }

    .head-search-num .text-input input {
        width: 157px;
        padding: 7px 20px 7px;
        height: 34px;
        font-size: 12px;
        line-height: 14px;
    }

    .head-search-photo .head-search-selfie a.styler {
        width: 157px;
        padding: 7px 20px 7px;
        height: 34px;
        font-size: 12px;
        line-height: 14px;
        flex: 0 0 157px;
    }

    .search-photo-label-info {
        display: block;
        text-align: left;
    }

    .head-search-col.head-search-btn {
        padding: 0;
        border: 0;
    }

    .head-search-col.head-search-btn a.styler.primary-button {
        font-size: 14px;
        line-height: 16px;
        padding: 7px 20px 7px;
        height: 34px;
        width: 157px;
    }

    .loading {
        display: block;
        margin-bottom: 50px;
    }

    .loading-box {
        display: none;
        width: 100%;
    }

    .loading-box:last-child {
        display: block;
    }

    .loading-logo {
        width: 90px;
        height: 90px;
    }

    .footer-banner {
        display: block;
    }

    .head-result-col {padding: 10px 10px 10px 0;}
    .head-result-value {font-size: 15px; line-height: 17px; padding: 10px 10px;}
    .head-result-photo .head-result-value {font-size: 21px;}
    .head-result-discount p {line-height: 19px;}
    .head-result-btn a.styler {
        font-size: 15px;
        height: auto;
        line-height: 19px;
        padding: 7px 8px 9px;
        width: auto;
    }

}

/* Mobile */
@media (max-width: 767px) {

    .up-link,
    .head-blog-detail,
    .show-more,
    .history-order .block-title,
    .head-history-order .head-btn,
    .head-order-text,
    .no-mobile-text,
    .head-profile-text,
    .container-blog .main-banner-center,
    .block-item.block-item-title,
    .head-result-row-title,
    .form-item-num {
        display: none;
    }

    body {
        padding-bottom: calc(26vw + 50px);
        padding-top: 110px;
    }

    header {
        background-color: #F6F6F6;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
    }

    header .container {
        justify-content: space-between;
        padding: 20px;
    }

    header .logo {
        flex: 0 0 150px;
        width: 150px;
    }

    .activity-col,
    .activity-item-bl,
    .activity-title-bl,
    .photo-box-info-bl,
    .photo-box-img-bl,
    .head-result-col,
    header .logo-bl,
    .form-item-info-bl {padding: 0;}

    .search-box {
        left: 0;
    }

    footer {
        padding: 10px 0;
    }


    footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .ss {
        order: 2;
        margin: 0 -5px;
    }

    .copyright {
        font-size: 8px;
        line-height: 9px;
        text-align: left;
    }

    footer .ss-item {
        padding: 0 5px;
    }

    footer .ss-item a {
        width: 30px;
    }

    .search-file-text {
        font-size: 14px;
        line-height: 16px;
    }

    .search-file-download input.styler,
    .search-file-download a.styler {
        width: 157px;
        padding: 7px 20px 7px;
        height: 34px;
        font-size: 12px;
        line-height: 14px;
    }

    .form-item-search-file {
        margin-bottom: 0;
    }

    .form-item-search-info {
        padding-top: 16px;
    }

    .head-result-row {
        flex-flow: row wrap;
        position: relative;
    }



    .head-result-date {
        flex: 0 0 100%;
        padding: 0 0 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .head {
        background-color: #fff;
        padding-top: 0;
    }

    .head-result-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
    }

    .head-result-btn {
        order: 2;
        flex: 0 0 45%;
        padding-top: 25px;
        border-top: 1px solid #ccc;
        height: 69px;
    }

    .form-contacts input[type="text"].styler,
    .head-result-btn .styler {
        height: 34px;
        font-size: 14px;
        line-height: 16px;
        padding: 6px 20px 13px;
    }

    .form-contacts input[type="text"].styler {
        padding: 16px 20px 13px;
        line-height: 1;
    }


    .head-result-discount {
        flex: 0 0 55%;
        padding: 15px 0 0 48px;
        position: relative;
        border-top: 1px solid #ccc;
        height: 69px;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .head-result-discount-mobile {
        display: block;
        top: 30px;
        left: 5px;
    }

    .head-result-discount-mobile .infomation {
        margin: 0;
    }

    .head-result-discount-mobile .infomation-link {
        width: 24px;
        fill: #2D9CDB;
    }

    .head-result-discount-mobile .infomation-box {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        margin-top: 0;
        margin-left: 10px;
    }

    .head-result-discount-mobile .infomation-box::before {
        top: 50%;
        left: -8px;
        margin-left: auto;
        margin-top: -8px;
    }

    .head-result-selfie {
        flex: 0 0 58px;
        padding-bottom: 20px;
    }

    .head-result-selfie-img {
        height: 58px;
        width: 58px;
    }

    .head-result-photo {
        flex: 0 0 100px;
       padding-bottom: 20px;
    }

    .head-result-col-box {
        flex: 0 0 calc(100% - 158px);
        padding-bottom: 20px;
    }

    .head-result-col-box-bl {
        display: block;
        padding-left: 10px;
    }

    .head-result-col-box  .head-result-col {
        background-color: #F1F1F1;
        border-radius: 5px;
        padding: 7px 15px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        height: 28px;
    }

    .head-result-value {
        background: none;
        font-size: 12px;
        line-height: 14px;
        padding: 0;
    }

    .head-result-photo .head-result-value {
        background-color: #F1F1F1;
        flex-flow: column;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 3px;
        text-align: center;
        height: 58px;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head-result-num {
        margin-bottom: 3px;
    }

    .main-banner {
        margin: 0 -20px;
        border-radius: 0;
    }

    .head-result-discount p {
        text-align: left;
        font-size: 10px;
        line-height: 140%;
        flex: 0 0 auto;
    }

    .elem-list {
        padding-top: 0;
    }

    .form-text-input {
        flex: 0 0 220px;
        width: 220px;
    }

    .form-profile .form-item-elem {
        flex: 0 0 calc(100% - 220px);
        padding-right: 15px;
        width: calc(100% - 220px);
        font-size: 12px;
        line-height: 14px;
        padding-top: 10px;
    }

    .block-item {
        flex-flow: column nowrap;
        align-items: normal;
        border: 0;
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .block-item .block-col {
        text-align: right;
        font-size: 12px;
        padding: 10px;
        line-height: 14px;
        font-family: 'Roboto Medium';
        background-color: #F6F6F6;
        border-bottom: 1px solid #ccc;
        color: #333;
    }

    .block-col .block-col--name {
        float: left;
        display: block;
        text-align: left;
        width: 50%;
    }

    .block-col .block-col--value {
        float: right;
        width: 50%;
    }

    .block-item .block-col:nth-child(1) {
        background-color: #2D9CDB;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        border-bottom: 1px solid #2D9CDB;
    }

    .block-item .block-col:last-child {
        border-bottom: 1px solid #F6F6F6;
    }


    .basket-history .block-item:hover .block-col {color: #333;}
    .basket-history .block-item:hover .block-col:nth-child(1) {color: #fff;}
    .history-order .block-photo {display: block;}
    .block-photo.block-col:nth-child(2):before {display: none;}

    .block-photo.block-col:nth-child(2) {
        order: 3;
        border: 0;
        padding: 0;
    }

    .block-photo img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .block-result {
        display: block;
        padding: 20px 0 10px;
        border-top: 1px solid #ccc;
    }

    .block-form-btn {
        flex-flow: column;
        margin: 0;
    }

    .block-form-btn .form-btn-text {
        order: 2;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
    }

    .block-form-btn .form-result-btn {
        margin-bottom: 30px;
    }

    .block-form-btn a.styler.primary-button {
        width: 207px;
        height: 34px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 6px;
    }

    .block-result-item {text-align: center; padding-bottom: 10px;}

    .basket-history .block-close svg {fill: #fff;}
    .basket-history .block-close svg:hover {fill: red;}
    .basket-history .block-col:nth-child(5) {border-bottom: 0;}
    .basket-history .block-col:nth-child(6):before {display: none;}

    .basket-history .block-close.block-col:nth-child(6) {
        position: absolute;
        bottom: 0;
        right: 0;
        border: 0;
        background: none;
    }

    .basket-history .block-list {
        margin-bottom: 30px;
    }

    .head-title-name,
    .head-title-date {text-align: center;}

    .photo-box {display: block; margin-bottom: 0}

    .photo-box-img-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 30px;
    }

    .photo-box-img-info-id {margin: 0;}

    .photo-box-item-text {
        font-size: 12px;
        line-height: 14px;
    }

    .jq-selectbox__select {
        height: 34px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .photo-box-info-title {
        margin-bottom: 20px;
    }

    .jq-selectbox__select-text {
        padding: 3px 0 0 0;
        font-size: 14px;
        line-height: 24px;
    }

    .jq-selectbox__trigger-arrow {
        top: 9px;
        right: 14px;
        width: 6px;
        height: 12px;
    }

    .photo-box-info-num {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .photo-box-info-num .photo-box-item-text {
        flex: 0 0 30%;
    }

    .photo-box-info-num .photo-box-item-select {
        flex: 1 1 auto;
    }

    .photo-box-info-num .jq-selectbox__select {
        margin: 0;
    }

    .photo-box-item-select {
        display: block;
    }

    .photo-box-item-btn {
        flex: 0 0 30%;
        padding: 0;
        text-align: right;
    }

    .photo-box-item-btn .styler {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        height: 34px;
        padding-top: 7px;
    }

    .photo-box-info-photo {
        padding-bottom: 20px;
    }

    .head-result-photo-text {
        display: block;
    }

    .num-list ul li {
        font-size: 14px;
        line-height: 16px;
    }

    .photo-buy-price {
        font-size: 24px;
        line-height: 28px;
    }

    .photo-buy a.styler,
    .photo-buy button.styler,
    .photo-buy input[type='button'].styler,
    .photo-buy input[type='submit'].styler,
    .photo-buy input[type='reset'].styler {
        font-size: 14px;
        line-height: 16px;
        width: 137px;
        height: 34px;
        padding: 7px 10px;
    }

    .mosaicflow__item-bl {
        padding-bottom: 17px;
    }

    .num-list ul {
        margin-bottom: 20px;
    }

    .head-mobile {
        margin-bottom: 0;
        padding-top: 0;
    }

    .form-title-name {
        font-size: 18px;
        line-height: 21px;
    }

    .form-title-link a {
        font-size: 14px;
        line-height: 16px;
    }

    .form-title {
        padding-bottom: 20px;
    }


    .form-registration input[type='text'].styler,
    .form-entry input[type='text'].styler {
        height: 34px;
        padding: 12px 20px 5px;
    }

    * ::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    * ::-moz-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    * :-moz-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    * :-ms-input-placeholder {
        font-size: 14px;
        line-height: 16px;
    }

    .form-entry .form-item {margin-bottom: 20px}

    .form-registration .form-btn-text a,
    .form-entry .form-btn-text a {
        padding-left: 0;
        font-size: 12px;
        line-height: 14px;
    }

    .form-registration a.styler.primary-button,
    .form-registration button.styler.primary-button,
    .form-registration input[type='button'].styler.primary-button,
    .form-registration input[type='submit'].styler.primary-button,
    .form-registration input[type='reset'].styler.primary-button,
    .form-entry a.styler.primary-button,
    .form-entry button.styler.primary-button,
    .form-entry input[type='button'].styler.primary-button,
    .form-entry input[type='submit'].styler.primary-button,
    .form-entry input[type='reset'].styler.primary-button {
        width: 157px;
        height: 34px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 7px;
    }

    .form-entry .form-btn {margin-bottom: 30px}

    .form-ss-title {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 22px;
    }

    .form-item-text {
        font-size: 9px;
        line-height: 11px;
    }

    .form-profile .form-item-text {padding-left: 0;}

    .form-registration .form-btn {
        border: 0;
    }

    .form-registration-done  .clear-text {
        display: block;
        margin-bottom: 10px;
    }
    
    .container-registration-done .form-title {
        justify-content: center;
    }

    .form-registration-done {
        text-align: center;
        border: 0;
    }

    .form-search-free {
        display: block;
    }

    .activity {
        margin: 0;
    }

    .activity-tab {
        margin: 0 0 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #666;
    }

    .activity-title {
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        margin-bottom: 0;
        color: #666;
        font-size: 14px;
        line-height: 16px;
    }

    .activity-title:last-child .activity-title-bl {text-align: right}

    .active.activity-title {
        font-family: 'Roboto Bold', sans-serif;
        color: #333;
    }

    .activity-item {
        display: none;
        flex: 0 0 100%;
        width: 100%;
    }

    .activity-item.show {
        display: block;
    }

    .activity-row.activity-row-title {display: none;}

    .activity-row {
        display: block;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .activity-col a,
    .activity-col {
        font-size: 14px;
        line-height: 16px;
    }

    .activity-col:first-child {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .head {
        padding: 0;
        margin: 0 0 20px;
    }

   .head-title {
        justify-content: center;
        font-size: 18px;
        line-height: 21px;
   }

    .form-search-free .form-item {
        margin-bottom: 20px;
    }

    .container-contacts .content {
        border-top: 1px solid #ccc;
        padding: 20px 0 0;
    }

    h6, .h6 {
        font-size: 14px;
        line-height: 150%;
    }

    .plain-text ol, ol, .plain-text ul, ul, p {
        font-size: 12px;
        line-height: 150%;
    }

    .plain-text ol {
        padding-left: 12px;
    }

    .clear-br {
        margin-bottom: 20px;
    }

    .h6-help {text-align: center;}

    .form-contacts-box {
        display: block;
    }

    .contacts-text p {
        font-size: 14px;
        line-height: 16px;
    }

    .container-contacts .ss {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .form-contacts button.styler {
        height: 34px;
        font-size: 14px;
        line-height: 16px;
        padding: 4px 20px;
        width: 157px;
    }

    .form-contacts .form-btn {
        margin: 0;
        border: 0;
    }

    .news-list-item {
        flex: 0 0 100%;
        width: 100%;
    }

    .news-list-item-bl {
        padding-bottom: 20px;
    }

    .news-list {
        padding-bottom: 0;
    }

    .head-basket .head-title,
    .head-profile .head-title {
        padding-bottom: 17px;
        border-bottom: 1px solid #ccc;
    }

    .head-basket .head-title {margin-bottom: 30px;}

    .form-profile input[type="email"].styler,
    .form-profile input[type="password"].styler,
    .form-profile input[type="search"].styler,
    .form-profile input[type="tel"].styler,
    .form-profile input[type="text"].styler,
    .form-profile input[type="url"].styler {
        height: 34px;
        font-size: 14px;
        line-height: 16px;
    }

    .form-profile *::-webkit-input-placeholder {
        line-height: 0.6;
    }

    .form-profile *::-moz-placeholder {
        line-height: 0.6;
    }

    .form-profile *:-moz-placeholder {
        line-height: 0.6;
    }

    .form-profile *:-ms-input-placeholder {
        line-height: 0.6;
    }

    .form-radio-input .text-input {
        font-size: 12px;
        line-height: 14px;
    }

    .form-profile .clear-br {
        margin-bottom: 25px;
    }

    .form-profile .form-result-btn {
        padding: 10px 0 30px;
        margin-bottom: 30px;
    }

    .form-profile a.styler.primary-button {
        height: 34px;
        font-size: 14px;
        line-height: 16px;
        width: 105px;
        padding: 6px 10px;
    }

    .form-profile .form-btn {
        display: block;
        padding-bottom: 30px;
    }

    .form-profile .form-btn-text {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 22px;
    }

    .head-history-order .head-title {
        justify-content: space-between;
    }

    .history-order-btn {
        display: block;
        padding: 30px 0;
        border-top: 1px solid #ccc;
        text-align: center;
        margin-bottom: 0;
    }

    .history-order-btn .primary-button {
        height: 34px;
        width: 157px;
        padding: 6px 10px;
        font-size: 14px;
        line-height: 16px;
    }

    .history-order .block-list {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .container-history .block-item-paid .block-status {color: #6ABD00;}
    .container-history .block-item-awaiting .block-status {color: #828282;}

    .input-search *::-webkit-input-placeholder {
        line-height: 2;
    }

    .input-search *::-moz-placeholder {
        line-height: 2;
    }

    .input-search *:-moz-placeholder {
        line-height: 2;
    }

    .input-search *:-ms-input-placeholder {
        line-height: 2;
    }

    .search-box li {
        font-size: 12.3061px;
        line-height: 25px;
        padding: 4px 20px;
    }

    .head-profile .success-button {width: 120px;}

    .block-payment-box {display: block; margin-bottom: 30px;}
    .block-payment-item {flex-flow: row wrap;}
    .block-payment-transfer {padding-bottom: 30px; border-bottom: 1px solid #ccc; margin-bottom: 30px;}
    
    .block-payment-transfer .block-payment-text {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
    }
    
    .block-payment-transfer .block-payment-btn,
    .block-payment-transfer .block-payment-cod {flex: 0 0 50%; padding: 0;}

    .block-payment-btn .success-button {
        width: 100%;
        margin-left: 10px;
        height: 34px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 6px;
    }

    .block-payment-box input[type='email'].styler,
    .block-payment-box input[type='password'].styler,
    .block-payment-box input[type='search'].styler,
    .block-payment-box input[type='tel'].styler,
    .block-payment-box input[type='text'].styler,
    .block-payment-box input[type='url'].styler {
        width: 100%;
        height: 34px;
    }

    .block-payment-box .input-search {padding-right: 10px;}
    
    .block-payment-btn,
    .block-payment-text {
        text-align: center;
        flex: 0 0 100%;
    }

    .block-payment-text {
        margin-bottom: 20px;
    }

    .container-blog .form-search-free {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
    }

    .blog-info-bl .h1,
    .blog-info-bl h1{
        font-size: 18px;
        line-height: 21px;
        color: #333;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .blog-info-link-back {
        display: block;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        float: right;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        font-weight: normal;
        position: relative;
        bottom: -3px;
    }

    .blog-author-info {padding-left: 20px;}

    .form-clear {
        max-width: 220px;
    }

    .form-popup {
        padding: 15px 15px 0;
    }

    .form-popup p {
        color: #666;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }

    .form-popup-btn-box {
        border-top: 1px solid #ccc;
        margin: 0 -15px;
    }

    .form-popup-btn {
        flex: 0 0 50%;
    }

    .form-popup-btn-bl {
        padding: 0;
    }
    
    .form-popup-btn-bl:first-child {
        border-right: 1px solid #ccc;
    }

    .form-popup-btn a.styler:hover,
    .form-popup-btn button.styler:hover,
    .form-popup-btn input[type='button'].styler:hover,
    .form-popup-btn input[type='submit'].styler:hover,
    .form-popup-btn input[type='reset'].styler:hover,
    .form-popup-btn a.styler:focus,
    .form-popup-btn button.styler:focus,
    .form-popup-btn input[type='button'].styler:focus,
    .form-popup-btn input[type='submit'].styler:focus,
    .form-popup-btn input[type='reset'].styler:focus,
    .form-popup-btn a.styler,
     .form-popup-btn button.styler,
     .form-popup-btn input[type='button'].styler,
     .form-popup-btn input[type='submit'].styler,
     .form-popup-btn input[type='reset'].styler {
         font-size: 11px;
         line-height: 13px;
         color: #333;
         background: none;
         box-shadow: none;
         border: 0;
         height: 40px;
         text-align: center;
         padding-top: 13px;
     }

    .form-contacts-box .styler *::-webkit-input-placeholder {
        line-height: 2;
    }


    .form-contacts-box .styler *::-moz-placeholder {
        line-height: 2;
    }


    .form-contacts-box .styler *::-moz-placeholder {
        line-height: 2;
    }

    .form-contacts-box .styler *::-ms-input-placeholder {
        line-height: 2;
    }

    .footer-banner {bottom: 50px;}
}

@media (max-width: 478px) {

    header .logo {flex: 0 0 130px; width: 130px;}
    .nav-menu {padding-left: 10px;}
    .nav-menu > ul {margin: 0;}
    .nav-menu-link svg {width: 23px;}
    .nav-menu-item {padding: 0 10px 0 0;}
    .hamburger-open {padding: 0;}
    .hamburger-open .hamburger-link svg {width: 23px;}

    .photo-box-info-num .photo-box-item-text {flex: 0 0 45%;}
    .photo-box-item-btn {flex: 0 0 40%;}
    .photo-box-item-btn .styler {padding: 7px 10px 11px;}

}