* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

html, body {font-family: 'Roboto', sans-serif; min-width: 320px;}

body {
    background: #fff;
    color: #666;
    font-size: 14px;
    line-height: 100%;
    position: relative;
    /* Делает пропорциональный текст на моб. версии */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    padding-bottom: 182px;
    position: relative;
    min-height: 100vh;
}

a {
    color: #2D9CDB;
    /* Устанавливает цвет выделения активного элемента при тапе на нем (a, label).
    По умолчанию это серый цвет, и часто может быть ни к чему, или выбиваться из общего дизайна.*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    text-decoration: none;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    -ms-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

.pre {
    background-color: #eceef5;
    border: 1px solid #cad4e7;
    border-radius: 3px;
    color: #3b5998;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    max-width: 1186px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.content {
    position: relative;
    padding: 0 20px 0;
    max-width: 598px;
    margin: 0 auto;
    width: 100%;
    z-index: 3;
}

.clear-br {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.clear-br-top {
    padding-top: 10px;
}

.content-banner {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 50px;
}

.content-banner img {
    display: block;
    width: 100%;
}

.text-b, b, strong {font-family: 'Roboto Bold', sans-serif;}
.text-im {color: #2D9CDB;}

p {
    text-align: left;
    font-size: 14px;
    line-height: 150%;
    -webkit-text-size-adjust: none;
    margin-bottom: 20px;
}

h1, .h1 {
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 20px;
}

h2, .h2 {}

h6, .h6 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Roboto Medium';
}

/* Контент */
.plain-text ul {
    margin: 0;
    padding: 0 0 10px;
    font-size: 14px;
    line-height: 150%;
    list-style: none;
}

.plain-text ol {
    margin: 0;
    padding: 0 0 10px 20px;
    font-size: 14px;
    line-height: 150%;
}

.plain-text ul li:before {
    background-color: #393E42;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 4px;
}
.plain-text ol li {margin-bottom: 10px;}
.plain-text ul li {margin-bottom: 10px; padding-left: 18px; position: relative;}

.plain-text img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

/* HEADER */
header {
    position: relative;
}

header .container {
    display: flex;
    align-items: center;
    padding: 46px 40px 46px 40px;
    max-width: 1226px;
}

header .logo {
    flex: 0 0 249px;
    width: 249px;
}

header .logo a,
header .logo img,
header .logo svg {
    display: block;
    width: 100%;
}

header .logo-bl {
    padding-right: 67px;
}

header .banner {
    flex: 1 1 auto;
}

header .banner a {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

header .banner img {
    display: block;
    width: 100%;
}

.header-menu {
    flex: 0 0 197px;
    position: relative;
    width: 197px;
}

.nav-menu {padding-right: 10px;}

.nav-menu > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 -10px;
}

.nav-menu > ul > li {
    flex: 0 0 auto;
}

.nav-menu-item {
    padding: 10px;
    position: relative;

}

.nav-menu-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.nav-menu-item:hover .nav-menu-box {
    display: block;
}

.nav-menu-box:before {
    content: '';
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 16px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -8px;
    z-index: 1;
}

.nav-menu-box ul {
    list-style: none;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
}

.nav-menu-box li {
    min-width: 110px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    font-family: 'Roboto Bold', sans-serif;
}

.nav-menu-box li span,
.nav-menu-box li a {
    display: block;
    font-size: 14px;
    line-height: 100%;
    font-family: 'Roboto Light', sans-serif;
    color: #333;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.nav-menu-box li span {
    font-family: 'Roboto Bold', sans-serif;
}

.nav-menu-link {
    cursor: pointer;
    position: relative;
}

.nav-menu-link .num {
    position: absolute;
    bottom: -9px;
    left: -10px;
    border-radius: 20px;
    overflow: hidden;
    padding: 2px 5px 3px;
    min-width: 24px;
    height: 24px;
    background-color: #FF0000;
    color: #fff;
    font-size: 11.2px;
    line-height: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-link svg {
    fill: #828282;
    width: 30px;
}

.hamburger {
    position: absolute;
    z-index: 1;
}
.hamburger-open {
    right: -50px;
    top: 1px;
    padding: 10px;
}
.hamburger-open .hamburger-link {height: auto;}
.hamburger-close {
    top: 0;
    right: 0;
    padding: 46px 40px;
}

.hamburger-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 58px;
}

.hamburger-link svg {
    fill: #828282;
    width: 30px;
}

.menu-list {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 313px;
    z-index: 2;
    transform: translateX(100%);
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    padding: 46px 0 0;
}

body.open-menu .menu-list {
    transform: translateY(0%);
    overflow-y: auto;
}

.menu-list .hamburger svg {
    fill: #fff;
}

.language {
    font-family: 'Roboto Light', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 58px;
    margin-bottom: 30px;
}

.menu-list ul {
    list-style: none;
}

.menu-list li {
    padding: 0 30px 17px;
    margin-bottom: 17px;
    position: relative;
}

.menu-list li:before {
    content: '';
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    height: 1px;
    background-color: #F1F1F1;
}

.menu-link {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto Light', sans-serif;
}

span.menu-link,
a.menu-link:hover {
    color: #d9b02b;
}

.head {
    background-color: #F1F1F1;
    padding: 30px 0;
    margin-bottom: 50px;
}

.head-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 100%;
    color: #333;
    font-family: 'Roboto Bold', sans-serif;
}

.head-title-no {
    display: block;
}

.head-title-name {
    padding-bottom: 5px;
}

.head-title-date {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.head-btn {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.head-order-text {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
}

.container-contacts .head-title {justify-content: center}
.container-contacts .plain-text {margin-bottom: 100px;}

.container-contacts .form-btn {
    justify-content: flex-end;
}

.head-order .styler,
.head-btn .styler {
    display: flex;
    align-items: center;
    padding: 4px 20px 7px;
    font-size: 11px;
    line-height: 13px;
    height: 26px;
    width: 100px;
    justify-content: center;
}

.head-btn .styler {
    width: 120px;
}

.head-basket .styler {
    justify-content: space-between;
    padding: 4px 15px 7px 10px;
}

.head-search-row,
.head-result-row {
    display: flex;
    font-size: 14px;
    align-items: center;
    line-height: 16px;
}

.head-search-row-title,
.head-result-row-title {
    border-bottom: 1px solid #ccc;
}

.head-result-col {
    flex: 1 1 auto;
    padding: 20px 20px 20px 0;
}

.head-search-col {
    flex: 1 1 auto;
    padding: 20px 30px 20px 0;
}

.head-search-btn {
    padding: 20px 0;
    text-align: right;
    flex: 0 0 150px;
}

.head-result-selfie-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #6ABD00;
    overflow: hidden;
    margin: 0 auto;
}

.head-result-selfie-img img {
    display: block;
    width: 100%;
}

.head-result-btn,
.head-result-close,
.head-result-discount,
.head-result-photo,
.head-result-selfie {
    flex: 0 0 10%;
    overflow: hidden;
    text-align: center;
}

.head-result-date {flex: 0 0 17%;}
.head-result-num, .head-result-surname {flex: 0 0 14%; text-align: center;}

.head-result-col-box .head-result-surname,
.head-result-col-box .head-result-num {
    flex: 0 0 50%;
}
.head-search-num {
    text-align: center;
    flex: 0 0 250px;
}

.head-search-num input {
    width: 100%;
}

.head-result-discount,
.head-result-btn {
    flex: 0 0 15%;
}

.head-search-selfie,
.head-result-discount {
    overflow: visible;
}

.head-result-close {
    flex: 0 0 5%;
    padding: 20px 0 20px 20px;
    cursor: pointer;
}

.head-result-close svg {
    display: block;
    color: #333;
    width: 100%;
}

.head-result-date-text {
    font-size: 14px;
    color: #333;
    line-height: 19px;
}

.head-result-date-name {
    display: block;
    font-size: 17px;
    line-height: 19px;
    color: #333;
    margin-bottom: 5px;
    font-family: 'Roboto Bold', sans-serif;
}

.head-result-value {
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto Bold', sans-serif;
    color: #333;
}

.head-result-photo .head-result-value {
    font-size: 24px;
    background: none;
    line-height: 28px;
}

.head-result-btn .styler {
    padding: 11px 20px 13px;
}

.head-search-selfie,
.head-result-discount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    text-align: right;
}

.head-search-selfie {
    flex: 0 0 250px;
    justify-content: center;
}

.head-search-selfie a.styler {
    padding: 9px 20px 11px;
    width: 100%;
}

.head-result-discount p {
    text-align: right;
    color: #333;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    flex: 0 0 100%;
}

.infomation {
    position: relative;
    margin-left: 14px;
}

.infomation-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.head-search .infomation-box {
    left: 100%;
    margin-top: 0;
    margin-left: 10px;
    top: 50%;
    transform: translateX(0) translateY(-50%);
}

.open-info .infomation-box {
    display: block;
}

.infomation-box:before {
    content: '';
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 16px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -8px;
    z-index: 1;
}

.head-search .infomation-box:before {
    top: 50%;
    left: -8px;
    margin: -7px 0 0 0;
}

.infomation-link {
    display: block;
    width: 16px;
    fill: #666;
    cursor: pointer;
}

.infomation-link svg {
    display: block;
    width: 100%;
}

.infomation-box-el {
    list-style: none;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    background-color: #fff;
    padding: 30px;
    width: 236px;
}

.head-search .infomation-box-el {
    text-align: left;
    width: 372px;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}

.infomation-box-el ul {
    list-style: none;
    text-align: left;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

.infomation-box-title {
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #333;
}

.infomation-box-list {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.head-search-date input {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #CCCFD8;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.ss {
    display: flex;
    justify-content: center;
    margin: 0 -10px 20px;
    list-style: none;
}

.ss li {
    flex: 0 0 auto;
}

.ss-item {
    padding: 0 10px;
}

.ss-item a {
    display: block;
    width: 42px;
}

.ss-item svg {
    display: block;
    width: 100%;
    fill: #FEFEFE;
}

.copyright {
    color: #FEFEFE;
    font-family: 'Roboto Light', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
/* Коллаж Mosaicflow */
.elem-list {
    padding: 0 0 20px;
    margin: 0 -15px;
    overflow: hidden;
}

.mosaicflow__column {
    float: left;
}

.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
}

.mosaicflow__item-bl {
    padding: 0 15px 30px;
    overflow: hidden;
}

.elem-list-item {
    background: #F6F6F6;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: box-shadow .15s ease-in-out;
    -moz-transition: box-shadow .15s ease-in-out;
    -ms-transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
}

.news-list-item  .elem-list-item {
    height: 100%;
}

.news-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.news-list-item {
    flex: 0 0 33.3333%;
}

.news-list-item-bl {
    padding: 0 15px 30px;
    height: 100%;
}

.elem-list-item:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.elem-list-item img {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.elem-list-banner img {
    margin-bottom: 0;
}

.elem-img {
    height: 362px;
    margin-bottom: 30px;
}

.elem-img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.elem-name {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333;
    font-family: 'Roboto Bold', sans-serif;
    padding: 0 30px 20px;
}

.num-list {
    padding: 0 20px;
}

.num-list ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 -5px 12px;
}

.num-list ul li {
    font-size: 11px;
    line-height: 13px;
    padding: 0 5px 10px;
}

.num-list ul li:first-child {
    color: #333;
    font-family: 'Roboto Bold', sans-serif;
}

.photo-buy {
    display: flex;
    align-items: center;
    padding: 0 20px 20px;
    justify-content: space-between;
}

.photo-buy a.styler,
.photo-buy button.styler,
.photo-buy input[type='button'].styler,
.photo-buy input[type='submit'].styler,
.photo-buy input[type='reset'].styler {
    font-size: 11px;
    line-height: 13px;
    padding: 3px 10px 5px;
    height: 26px;
}

.styler svg {
    fill: #fff;
    width: 12px;
    margin-right: 5px;
    position: relative;
    bottom: -1px;
}

.photo-buy-price {
    color: #333;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto Bold', sans-serif;
}

.show-more {
    text-align: center;
    margin-bottom: 50px;
}

.up-link {
    text-align: center;
    margin-bottom: 50px;
}

.up-link a {
    display: inline-block;
    width: 30px;
}

.up-link a svg {
    fill: #828282;
    display: block;
    width: 100%;
}

.news-teg {
    padding: 0 30px 30px;
}

.news-teg ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 -3px;
}

.news-teg li {
    padding: 0 3px;
}

.news-teg li a {
    display: inline-block;
    padding: 2px 5px 4px;
    background: #666;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    border-radius: 3px;
}

.main-banner {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 100px;
}

.main-banner-center {
    margin-bottom: 30px;
    position: relative;
    margin-top: -20px;
}

.main-banner img {
    display: block;
    width: 100%;
}

/* Форма */

.form-registration-done {
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.form-activation,
.form-registration {padding-bottom: 60px;}

.form-entry {margin-bottom: 100px;}

.form-registration-done {
    color: #999;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #ccc;
}

.text-input {
    display: block;
}

.form-item-text {
    padding: 10px 20px 0 22px;
    font-size: 12px;
    line-height: 14px;
    color: #999;
}

.form-item {
    margin-bottom: 30px;
}

.form-search .form-item {
    position: relative;
    display: flex;
}

.form-item-num {
    flex: 0 0 48px;
    height: 48px;
    width: 48px;
    font-size: 18px;
    line-height: 36px;
    color: #828282;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #828282;
    box-sizing: border-box;
    font-family: 'Roboto Bold', sans-serif;
    border-radius: 24px;
}

.form-item-info {
    flex: 1 1 auto;
}

.form-item-info-bl {
    padding-left: 20px;
    position: relative;
}

.form-item input {
    width: 100%;
}

.container-form {
    padding: 50px 0;
}

.container-profile {
    padding-top: 0;
}
/* Поиск*/
.search-box {
    display: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 20px;
    right: 0;
    border-radius: 0 0 25px 25px;
    z-index: 1;
}

.search-box:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 7px;
    background-color: #fff;
}

.search-box ul {
    list-style: none;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    max-height: 275px;
}

.search-box li {
    padding: 1px 20px;
    font-size: 18px;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #828282;
    cursor: pointer;
}

.search-box li:hover {
    color: #fff;
    background-color: #2D9CDB;
}

.search-box li:last-child {
    padding-bottom: 10px;
}

.form-item-search-file {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-file-text {
    flex: 1 1 auto;
    font-size: 18px;
    line-height: 36px;
    color: #828282;
}

.search-file-download {
    flex: 0 0 auto;
}

.search-file-download input.styler,
.search-file-download a.styler {
    width: 220px;
    padding: 10px 20px 10px;
    height: 48px;
    text-align: center;
}

.form-item-search-info {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin-bottom: 20px;
}

.search-file-download-done {
    display: flex;
    align-items: center;
}

.search-file-download-img {
    border: 1px solid #6ABD00;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.search-file-download-img img {
    display: block;
    width: 100%;
}

.search-file-download-name {
    padding-left: 20px;
    font-size: 12px;
    line-height: 36px;
    color: #828282;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    -ms-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

.search-file-download-name:hover {
    color: #6ABD00;
}

.form-result-btn {
    text-align: right;
}

.form-search .form-result-btn .styler {
    width: 220px;
}

.form-item-search {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.form-item-search.open-box .search-box {
    display: block;
}

.form-item.success .form-item-num {
    color: #fff;
    background: #828282;
}

.form-item.success .input-search:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 11px;
    width: 24px;
    height: 24px;
    background-image: url("../img/svg/ok.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-item-search.open-box input {
    border-radius: 25px 25px 0 0;
    border-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.form-item-search.open-box input:hover:focus,
.form-item-search.open-box input:hover {
    border-color: #fff;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background: none;
}

.mCSB_scrollTools {
    right: 3px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    bottom: 20px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 22px;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
}

.form-title-name {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #333;
}

.form-title-link a {
    font-size: 18px;
    line-height: 21px;
    color: #333;
}

.form-profile .form-item {
    display: flex;
    margin-bottom: 20px;
}

.form-profile .form-item-elem {
    flex: 0 0 40%;
    width: 40%;
    padding-top: 15px;
}

.form-profile .form-result-btn {
    padding: 20px 0 50px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.form-text-input {
    flex: 0 0 60%;
    width: 60%;
    padding-bottom: 0;
}

.form-text-input input {
    width: 100%;
}

.form-radio-input,
.form-radio-input .text-input {
    display: flex;
    align-items: center;
}

.form-radio-input .jq-radio {margin-right: 10px;}

.form-radio-input .text-input {
    padding-right: 20px;
}

.form-item-elem {
    font-size: 14px;
    line-height: 16px;
}

.form-contacts-box {
    display: flex;
    margin: 0 -15px;
}

.form-contacts-box .form-item {
    padding: 0 15px;
}



/* Всплывающая форма */
.form-popup {
    display: none;
    background-color: #fff;
    border-radius: 10px;
}
/* Контакты */
.contacts-text p {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333;
}
.container-contacts .ss {
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.container-contacts .ss-item svg {
    fill: #2D9CDB;
}
/* Блог */
.blog-detail {
    display: flex;
    padding: 0 0 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.blog-info {
    flex: 1 1 auto;
    overflow: hidden;
}

.blog-info-bl {
    padding-right: 128px;
}

.blog-banner-list {
    flex: 0 0 264px;
    width: 264px;
}

.banner-item {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

.banner-item a,
.banner-item img {
    display: block;
    width: 100%;
}

.blog-detail .news-teg {
    padding: 0;
}

.blog-detail .news-teg li a {
    background-color: #2D9CDB;
}

.blog-author {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blog-author-img {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #6ABD00;
    width: 68px;
    height: 68px;
    flex: 0 0 68px;
}

.blog-author-img img {
    display: block;
    width: 100%;
}

.blog-author-info {
    padding-left: 30px;
    flex: 1 1 auto;
}

.blog-author-name {
    font-size: 14px;
    font-family: 'Roboto Bold', sans-serif;
    line-height: 150%;
}

.blog-author-post {
    font-size: 12px;
    line-height: 150%;
}

/* Корзина */
.block-list {
    margin-bottom: 50px;
}

.block-title {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    margin-bottom: 30px;
}

.block-item {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.block-item:hover .block-col {
    color: #2D9CDB;
}

.block-item:first-child:hover .block-col {
    color: #333;
}

.block-item-title {
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid #666;
}

.block-col {flex: 1 1 auto; padding: 20px 20px 20px 0;}
.block-col:last-child {text-align: right; padding-right: 0;}
.block-col .block-col--name {display: none;}
.block-id {flex: 0 0 15%;}
.block-photo {flex: 0 0 120px;}
.history-order .block-photo {display: none; position: relative;}

.block-status,
.block-payment,
.block-position,
.block-category,
.block-price {flex: 0 0 15%;}

.block-party {flex: 0 0 18%;}

.block-close {flex: 0 0 5%;}

.block-close svg {
    width: 24px;
    cursor: pointer;
    fill: #666;
}

.block-close svg:hover {
    fill: red;
}

.block-photo img {
    display: block;
    border-radius: 3px;
    overflow: hidden;
    height: 54px;
}

.block-status {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 18px;
    color: #828282;
    line-height: 21px;
}

.block-item-paid .block-status {
    color: #6ABD00;
}

.block-result {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.block-result-item {
    padding-left: 20px;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto Bold', sans-serif;
    color: #333;
}

.head-order {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
/* Загрузчик */
.loading {
    display: flex;
    margin: 0 -15px 200px;
    position: relative;
}

.loading-box {
    flex: 0 0 25%;
    width: 25%;
    height: 264px;
}

.loading-box-bl {
    padding: 0 15px;
    height: 100%;
    width: 100%;
}

.loading-elem {
    border-radius: 10px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(rgba(246, 246, 246, 0)));
    background: -o-linear-gradient(top, #F6F6F6 0%, rgba(246, 246, 246, 0) 100%);
    background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0) 100%);
    height: 100%;
    width: 100%;
}

.loading-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 180px;
    height: 180px;
}

.loading-logo svg {
    display: block;
    fill: #CCCFD8;
    width: 100%;
}
/* Страница фото */
.photo-box {
    display: flex;
    margin-bottom: 100px;
}

/* Страница фото */
.photo-box > div {
    flex: 0 0 50%;
}

.photo-box-img-bl {
    padding: 0 108px 0 0;
}

.photo-box-info-bl {
    padding: 0 0 0 20px;
}

.photo-box-img img {
    display: block;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    width: 100%;
}

.photo-box-img-info {
    background: #F6F6F6;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.photo-box-img-info-id {
    font-size: 14px;
    color: #333;
    line-height: 16px;
    font-family: 'Roboto Bold', sans-serif;
    margin-bottom: 5px;
}

.photo-box-img-info-author {
    font-size: 11px;
    line-height: 13px;
}

.photo-box-info-title {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto Bold', sans-serif;
    margin-bottom: 50px;
    color: #333;
}

.photo-box-info .jq-selectbox {
    flex: 1 1 auto;
}

.photo-box-info-num {
    display: flex;
    align-items: center;
}

.photo-box-info-num .jq-selectbox {display: inline-block; width: 100%;}

.photo-box-item-text {
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

.photo-box-info-num {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.photo-box-info-num .photo-box-item-text,
.photo-box-info-num .photo-box-item-select {
    flex: 0 0 50%;
}

.photo-box-info-num .photo-box-item-select select {
    width: 100%;
}

.photo-box-info-photo .photo-box-item-select, .photo-box-info-person .photo-box-item-select {display: flex;}

.photo-box-info-person,
.photo-box-info-photo {
    padding-bottom: 30px;
}

.photo-box-info-person .photo-box-item-text,
.photo-box-info-photo .photo-box-item-text {
    padding-bottom: 10px;
}

.photo-box-item-btn {
    padding-left: 20px;
    flex: 0 0 168px;
}

.photo-box-item-btn .styler {
    padding: 9px 20px 11px;
    width: 100%;
}

/* Мероприятия */
.activity-tab,
.activity {
    display: flex;
    margin: 0 -50px;
}

.activity-title,
.activity-item {
    flex: 0 0 50%;
}

.activity-title-bl,
.activity-item-bl {
    padding: 0 50px;
}

.activity-title {
    font-size: 18px;
    line-height: 24px;
    color: #333;
    margin-bottom: 50px;
}

.form-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 0 30px;
    margin-bottom: 40px;
}

.form-profile .form-btn {
    border-bottom: 0;
    margin: 0;
    padding: 0 0 100px;
}

.form-btn-ss svg {
    fill: #828282;
}

.form-btn-ss .ss {
    margin: 0 -6px;
}

.form-btn-ss .ss-item {
    padding: 0 6px;
}

.form-activation {
    font-size: 14px;
    line-height: 16px;
    color: #999;
}

.form-btn-text a {
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.form-ss-title {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.form-ss .ss {margin: 0 -6px;}
.form-ss .ss-item svg {
    fill: #828282;
}

.form-ss .ss-item {
    padding: 0 6px;
}

.block-form-btn {
    border: 0;
}

.block-payment-box {
    display: flex;
    margin-bottom: 100px;
}

.block-payment-item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
}

.block-payment-text {
    font-size: 18px;
    line-height: 21px;
    color: #333;
    font-family: 'Roboto Bold', sans-serif;
    flex: 1 1 auto;
    text-align: center;
}

.block-payment-transfer .block-payment-text {
    padding-right: 50px;
    flex: 0 0 auto;
    text-align: left;
}

.block-payment-cod {
    padding: 0 20px 0 0;
}

.activity-table {
    margin-bottom: 100px;
}

.activity-row {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid #ccc;
}

.activity-row a {
    font-size: 18px;
    line-height: 21px;
}

.activity-col {
    padding: 30px 30px 30px 0;
}

.activity-col:first-child {
    flex: 0 0 130px;
}

.activity-col:last-child {
    font-family: 'Roboto Medium';
}

.activity-row-title .activity-col:last-child {
    font-family: 'Roboto';
}

.block-lib {
    display: flex;
    margin-bottom: 60px;
}

.block-lib-big {
    flex: 0 0 362px;
    position: relative;
}

.block-lib-big img {
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.block-lib-list {
    flex: 1 1 auto;
}

.block-lib-list ul {
    display: flex;
    flex-flow: row wrap;
    padding-left: 30px;
    list-style: none;
    margin: 0 -15px;
}

.block-lib-list li {
    flex: 0 0 50%;
}

.block-lib-item {
    padding: 0 15px 30px;
    position: relative;
}

.block-lib-item img {
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: 10px;
}

.head-result-col-box-bl {
    display: flex;
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

.head-result-photo-text {
    display: none;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    color: #666;
}

.head-result-discount-mobile {
    display: none;
    position: absolute;
}

.form-search-free {
    display: none;
    margin-bottom: 20px;
}

.form-search-free .form-result-btn {
    text-align: center;
}

.form-search-free a.styler {
    height: 34px;
    font-size: 14px;
    padding: 6px 20px;
    width: 157px;
    line-height: 16px;
}

.menu-list li:last-child:before {
    display: none;
}

.head-profile-text {
    padding-right: 5px;
}

.btn-save {
    background: #fff;
    color: #2D9CDB;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    height: 26px;
    width: 100px;
    border-radius: 26px;
    padding: 5px 20px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-history-order .primary-button {
    width: 120px;
    justify-content: center;
}

.blog-info-link-back {
    display: none;
}

.form-popup-btn-box {
    display: flex;
    margin: 0 -10px;
}

.form-clear {
    max-width: 300px;
}

.form-clear .fancybox-close-small {
    display: none;
}

.form-popup {
    padding: 30px;
}

.form-popup p {
    color: #333;
}

.form-popup-btn {
    flex: 0 0 50%;
}

.form-popup-btn-bl {
    padding: 0 10px;
}

.form-popup-btn a.styler,
.form-popup-btn button.styler,
.form-popup-btn input[type='button'].styler,
.form-popup-btn input[type='submit'].styler,
.form-popup-btn input[type='reset'].styler {
    height: 26px;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 10px;
    width: 100px;
}

.head-blog-search .container {
    display: flex;
    justify-content: space-between;
}

.blog-search form {
    display: flex;
}

.blog-search input[type='search'].styler {
    border-color: #ccc;
    min-width: 460px;
}
.blog-search .form-result-btn {padding-left: 16px;}
.blog-search .form-item {position: relative; margin-bottom: 0;}

.blog-search .close-btn {
    position: absolute;
    top: 12px;
    right: 7px;
    cursor: pointer;
    width: 35px;
    height: 24px;
    background-image: url("../img/svg/clear.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: #fff;
    padding: 0 10px;
}

.history-order-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.history-order-plus {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto;
}

.history-order-plus-icon {
    flex: 0 0 20px;
}

.history-order-plus-icon svg {
    fill: #666;
}

.history-order-plus-text {
    flex: 0 0 auto;
    padding-left: 10px;
    color: #666;
}

.btn-save-plus {
    position: absolute;
    bottom: 40px;
    right: 25px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.block-lib-big .btn-save-plus {
    bottom: 10px;
    right: 10px;
}

.no-mobile-text {padding-right: 10px;}
.btn-save-plus svg {fill: #fff;}
.head-search-top {padding-top: 6px;}

.search-photo-label-info {
    display: none;
    font-size: 12px;
    line-height: 14px;
    padding: 16px 0 0;
}

.search-photo-label {
    display: none;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
}

.footer-banner {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 182px;
}

.footer-banner img {
    display: block;
    width: 100%;
}